<template>
    <div>
        <h3 class="title">
            About me
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore delectus ducimus quas deserunt atque placeat fugiat, quam corrupti ab, laborum dolor nulla dolores. Provident ducimus nesciunt asperiores. Dolore, molestiae. Perferendis.</p>
        <nuxt-link to="/mission">Mission</nuxt-link>
    </div>
</template>
<style>
.title {
  font-family: 'Quicksand', 'Source Sans Pro', 'Consolas';
  font-size: 2.5em;
  text-align: center;
}
</style>
