<template>
  <div class="container">
    <div>
        <transition>
            <Message class="test" />
        </transition>
    </div>
  </div>
</template>

<script>
import Message from '~/components/Message.vue'

export default {
  components: {
    Message
  }
}
</script>

<style>
.test {
  animation: 2s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>