<template>
    <div class="test">
        <h3 class="title">
            Mission
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore delectus ducimus quas deserunt atque placeat fugiat, quam corrupti ab, laborum dolor nulla dolores. Provident ducimus nesciunt asperiores. Dolore, molestiae. Perferendis.</p>
    </div>
</template>
<style>
.title {
  font-family: 'Quicksand', 'Source Sans Pro', 'Consolas';
  font-size: 2.5em;
  text-align: center;
}

.test {
  animation: 2s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>

